@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch&display=swap');

.navbar {
    background-color: #00818a;
    position: sticky;
    top: 0;
    z-index: 1;
}

.brand {
    font-family: 'Cabin Sketch', cursive;
    font-size: 25px;
}
