.vote{
  display: flex;
  justify-content: flex-end;
}
div, h5{
  padding: 6px;
}
.hover:hover{
  border: yellow;
}
h5{
  font-weight: lighter;
}
.vote-btn-like{
  background-image: url("~src/assets/like.png");
  height: 26px;
  width: 26px;
  background-size: cover;
  background-position:center center;
  border-radius: 50%;
  margin-top: 3px;
}
.vote-btn-dislike{
  background-image: url("~src/assets/dislike.png");
  height: 26px;
  width: 26px;
  background-size: cover;
  background-position:center center;
  border-radius: 50%;
  margin-top: 3px;
}
